.cursor {
  display: inline-block;
  width: 1em; /* Set the width and height to create a circle */
  height: 1em;
  background-color: grey;
  border-radius: 50%; /* Make it a circle with border-radius */
}

.cursor.show {
  animation: blink 0.7s infinite;
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}
